<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mob_final_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name = ".Self_Introduction" android:label ="자기소개 액티비티"/>
        <activity android:name = ".Simple_Diary" android:label ="간단한 일기장 액티비티"/>
        <activity android:name = ".Clock" android:label ="시계 액티비티"/>
        <activity android:name = ".Mp3" android:label ="mp3음악 파일 듣기 액티비티"/>
        <activity android:name = ".ProjectMain" android:label ="프로젝트 액티비티"/>
        <activity android:name = ".Project_ImageEdit" android:label ="프로젝트 편집 액티비티"/>
    </application>

</manifest>